<div class="py-12 border-y border-stone-800 bg-stone-900/40 backdrop-blur-md my-16">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base leading-7 text-stone-600 dark:text-white">Worldwide datacenters</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-stone-600 dark:text-white sm:text-5xl">100+</dd>
			</div>
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base leading-7 text-stone-600 dark:text-white">Services deployed</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-stone-600 dark:text-white sm:text-5xl">120K+</dd>
			</div>
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base leading-7 text-stone-600 dark:text-white">Guaranteed uptime</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-stone-600 dark:text-white sm:text-5xl">99.99%</dd>
			</div>
		</dl>
	</div>
</div>
